  <div class="container bs-docs-container">
     <div class="container">
      <div class="row">
        <div class="col-lg-5  col-lg-offset-2">
          <div class="stand-out-form">
           <h4>Accrue or Redeem Points</h4>
           <%= form_for (@reward), html: {class: "text-left"} do |f| %>
           
           <fieldset>
            <% if @reward.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                The form contains <%= pluralize(@reward.errors.count, "error") %>.
                
                <ul>
                  <% @reward.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
            <% end %>
            <div class="form-group">
              <%= f.label :email,"Email" %>
              <%= f.text_field :email, class: "form-control", input_html: {value: ''}, placeholder: "Enter customer email" %>
            </div>
            <div class="form-group">
              <%= f.label :phone_number,"Phone Number" %>
              <%= f.text_field :phone_number, class: "form-control", input_html: {value: ''}, placeholder: "Enter customer Phone Number" %>
            </div>
            <div class="form-group">
              <%= f.label :receipt_no,"Receipt Number" %>
              <%= f.text_field :receipt_no, class: "form-control", placeholder: "Enter your Receipt Number" %>
            </div>                    
            <div class="form-group">
              <%= f.label :amount,"Amount or Points" %>
              <%= f.text_field :amount, class: "form-control", placeholder: "Enter Amount or Points to Redeem" %>
            </div>                    
            <div class="btn-group">
              <%= f.submit "Accrue Points", class: "btn btn-lg btn-danger", name: "accrue" %>
            </div>
            <div class="btn-group">
              <%= f.submit "Redeem Points", class: "btn btn-lg btn-danger", name: "customer" %>
            </div>                      
          </fieldset>
          <% end %>
          
        </div>
      </div>

    </div>
  </div>
</div>
