<% provide(:title, 'Customer Registration') %>
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg ">
        <i class="fa-icon-group text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">Registration</h1>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div class="container">
    <div class="row">
          <div class="col-sm-6  col-sm-offset-3">
          <div class="stand-out-form">
           <%= form_for (@user), html: {class: "text-left"} do |f| %>
           
           <fieldset>
                <% flash.each do |key, value| %>
                <% if key.to_s.start_with?('user_')  %>
                <% if value.respond_to?('each') %>
                  
                  <div id="error_explanation">
                    <div class="alert alert-danger">
                <ul>
                  <% value.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>

                    </div>
                  </div>
                  
                <% else %>
                  <div id="error_explanation">
                    <div class="alert alert-danger"><%= value %>

                    </div>
                  </div>
                <% end %>
                <% end %>
                <% end %>
            <div class="form-group">
              <%= f.label :first_name,"First Name" %>
              <%= f.text_field :first_name, class: "form-control", placeholder: "Enter your first name" %>
            </div>
            <div class="form-group">
              <%= f.label :last_name,"Last Name" %>
              <%= f.text_field :last_name, class: "form-control", placeholder: "Enter your last name" %>
            </div>
            <div class="form-group">
              <%= f.label :phone_number,"Phone Number" %>
              <%= f.text_field :phone_number, class: "form-control", placeholder: "Enter your Phone Number" %>
            </div>
            <div class="form-group">
              <%= f.label :email,"Email" %>
              <%= f.text_field :email, class: "form-control", placeholder: "Enter your Email" %>
            </div>
            <div class="form-group">
              <%= f.label :password,"Password" %>
              <%= f.password_field :password, class: "form-control", placeholder: "Enter your Password" %>
            </div>                    
            <div class="form-group">
              <%= f.label :password_confirmation,"Confirmation" %>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Re-Enter your Password" %>
            </div>   
            <% if params[:whois] == 'merchant' %>                 
            <div class="btn-group">
              <%= f.submit "Merchant Account", class: "btn btn-lg btn-danger", name: "merchant" %>
            </div>
            <% else %>
            <div class="btn-group">
              <%= f.submit "Customer Account", class: "btn btn-lg btn-danger", name: "signup" %>
            </div>											
            <% end %>
            <div class="btn-group">
              <%= f.submit "Clear", class: "btn btn-lg btn-danger" , name: "clear", type: "reset" %>
            </div>                      

          </fieldset>
          <% end %>
          
        </div>
      </div>

</div>
</div>
</div>
