<% provide(:title, 'All Memberships') %>
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
 <!-- icon -->
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
        <i class="fa-icon-search text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">Search Stores</h1>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div class="container">
  	<div class="row">
  		<div class="col-sm-4 col-sm-offset-4">
			<%= form_for @storesearch, html: {class: "text-left"} do |f| %>
			
			<fieldset>

				<% if @storesearch.errors.any? %>
				<div id="error_explanation">
					<div class="alert alert-danger">
						The form contains <%= pluralize(@storesearch.errors.count, "error") %>.
						
						<ul>
							<% @storesearch.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>

				<div class="form-group">
					<%= f.label :zip,"Zip Code" %>
					<%= f.text_field :zip, class: "form-control", placeholder: "Enter zip" %>
				</div>
				<!--
                                <div class="form-group">
                                        <div><h1>OR</h1>
                                        </div>
                                </div>
				<div class="form-group">
					<%= f.label :name,"Business Name" %>
					<%= f.text_field :name, class: "form-control", placeholder: "Enter Business Name" %>
				</div>    
				-->                
				<div class="btn-group">
					<%= f.submit "Search", class: "btn btn-lg btn-success", name: "search" %>
				</div>
				<div class="btn-group">
					<%= f.submit "Clear", class: "btn btn-lg btn-success", type: "reset", name: "clear" %>
				</div>                      
			</fieldset>
			<% end %>   
			</div>
			</div>      
  </div>
  <% if @stores.any? %>
        <%= render @stores %>
<% end %>                       

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
$('.add').click(function(){
      $('.add').html('Unlike');
});

$("a").on("ajax:success", function(){
  console.log('ajax:success done');
})
</script>