<% provide(:title, 'Search for Stores') %>
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
 <!-- icon -->
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
        <i class="fa-icon-search text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">Search Stores</h1>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
<!--
  <div class="container">
  	<div class="row">
  		<div class="col-sm-4 col-sm-offset-4">
			<%= form_for @storesearch, html: {class: "text-left"} do |f| %>
			
			<fieldset>

				<% if @storesearch.errors.any? %>
				<div id="error_explanation">
					<div class="alert alert-danger">
						The form contains <%= pluralize(@storesearch.errors.count, "error") %>.
						
						<ul>
							<% @storesearch.errors.full_messages.each do |msg| %>
							<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				</div>
				<% end %>

				<div class="form-group">
					<%= f.label :zip,"Zip Code" %>
					<%= f.text_field :zip, class: "form-control", placeholder: "Enter zip" %> 
				</div> -->
				<!--
                                <div class="form-group">
                                        <div><h1>OR</h1>
                                        </div>
                                </div>
				<div class="form-group">
					<%= f.label :name,"Business Name" %>
					<%= f.text_field :name, class: "form-control", placeholder: "Enter Business Name" %>
				</div>    
				-->       
				<!--         
				<div class="btn-group">
					<%= f.submit "Search", class: "btn btn-lg btn-success", name: "search" %>
				</div>
				<div class="btn-group">
					<%= f.submit "Clear", class: "btn btn-lg btn-success", type: "reset", name: "clear" %>
				</div>                      
			</fieldset>
			<% end %>   
			</div>
			</div>      
  </div> -->
                 <% flash.each do |key, value| %>
                
                <% if value.respond_to?('each') %>
                  
                  <div id="error_explanation">
                    <div class="alert alert-danger">
                <ul>
                  <% value.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>

                    </div>
                  </div>
                  
                <% else %>
                  <div id="error_explanation">
                    <div class="alert alert-danger"><%= value %>

                    </div>
                  </div>
                <% end %>
                
                <% end %>
                

                <% if @stores.any? %>
       <div class='row portfolio-boxes' id='portfolio-container'>
      <% @stores.in_groups_of(4, false).each do |store_array| %>
      <% store_array.each do |store| %>
  <div class='col-sm-3 portfolio-box portfolio-item'>
    <a href='#'>
      <div class='image-link'>
              <% if store.store_logo.nil? %>
                <%= image_tag("default_store_logo.png", :size => "273x186", :class => "mob-img-responsive img-rounded center-block") %>
                <% else %>
                <%= image_tag(store.store_logo, :size => "273x186", :alt => store.name, :class => "mob-img-responsive img-rounded center-block") %>
                <% end %>

      </div>
      <h3 class='title'><%= store.name %></h3>
      <p class='category'><%= link_to "Add", membership_add_path(:store => store.id), method: "create" %></p>
    </a>
  </div>
  <% end %>
<% end %>
</div>
<% end %>                       

</div>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
<script type="text/javascript">
$('.add').click(function(){
      $('.add').html('Unlike');
});

$("a").on("ajax:success", function(){
  console.log('ajax:success done');
})
</script>