<ul class="nav navbar-nav navbar-right">
  <li class="active">
  </br>
  <%= form_for :session, url: sessions_path, html: {class: "navbar-form navbar-right"} do |f| %>
  <fieldset>
                <% flash.each do |key, value| %>
                <% if key.to_s.start_with?('signin_')  %>
                <% if value.respond_to?('each') %>
                  
                  <div id="error_explanation">
                    <div class="alert alert-danger">
                <ul>
                  <% value.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>

                    </div>
                  </div>
                  
                <% else %>
                  <div id="error_explanation">
                    <div class="alert alert-danger"><%= value %>

                    </div>
                  </div>
                <% end %>
                <% end %>
                <% end %>
    <div class="form-group">
      <%= f.text_field :email, class: "form-control", placeholder: "Email" %>
    </div>
    <div class="form-group">
      <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
    </div>
    
    <%= f.submit "Log in", class: "btn btn-info", name: "signin" %>

  
  </fieldset>
  <% end %>  
  
  </li>
  <!--
  <li class="active"></br><div class="navbar-form">
    <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-clientid="CLIENT_ID"
    data-cookiepolicy="single_host_origin"
    data-requestvisibleactions="http://schemas.google.com/AddActivity"
    data-scope="https://www.googleapis.com/auth/plus.login">
  </span>
</span></div>
</li> -->
<li class="active"></br><div class="navbar-form">
  <%= link_to "<button class='btn btn-danger'>Forgot Password?</button>".html_safe, new_password_reset_path %>
  </div></li>

</ul>


