<% provide(:title, 'All Memberships') %>
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
 <!-- icon -->
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
        <i class="fa-icon-money text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">My Rewards</h1>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div class="container">
    <%= will_paginate %>
<div class='row portfolio-boxes' id='portfolio-container'>
<% @membership.in_groups_of(4, false).each do |membership_array| %>
  <% membership_array.each do |membership| %>
  <div class='col-sm-3 portfolio-box portfolio-item'>
    <a href='#'>
      <div class='image-link'>
        <i class='fa-icon-search'></i>
                <% if membership.store.name.start_with?('Paddy') %>
                <%= image_tag("Paddy-keg.gif", :size => "273x186", :alt => "IXL Martial Arts Leawood KS", :class => "img-responsive img-rounded center-block") %>
                <% elsif membership.store.name.start_with?('Lotus') %>
                <%= image_tag("LotusYoga.jpg", :size => "273x186", :alt => "IXL Martial Arts Leawood KS", :class => "img-responsive img-rounded center-block") %>
                <% elsif membership.store.name.start_with?('IXL') %>
                <%= image_tag("ixl_logo.jpg", :size => "273x186", :alt => "IXL Martial Arts Leawood KS", :class => "img-responsive img-rounded center-block") %>
                <% else %>
                <img class="img-responsive img-rounded center-block" alt="Title" width="273" height="186" src="/assets/lulus.png" />
                <% end %>

      </div>
      <h3 class='title'><%= membership.store.name %></h3>
      <p class='category'>Accrued: <%= membership.rewards.sum(:accrued) - membership.rewards.sum(:redeemed) %></p>
      <p class='category'>Redeemed: <%= membership.rewards.sum(:redeemed) %></p>

    </a>
  </div>
  <% end %>
  <% end %>
</div>

      <%= will_paginate %>
  </div>
</div>
