<% provide(:title, 'My Rewards') %>
<div id="main-content-header">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 icon-box">
 <!-- icon -->
      <div class="icon icon-wrap icon-circle icon-lg contrast-bg">
        <i class="fa-icon-money text-white"></i>
      </div>
 
      <div class="content">
        <h1 class="title">My Stores</h1>
      </div>
 
      </div>
    </div>
  </div>
</div>
<div id="main-content">
  <div class="container">
  <% if @membership.empty? %>
  <h3> You have not signed-up for any of the businesses yet! Please click on the Search Stores above to get started. </h3>
  <% else %>
    <%= will_paginate %>
<div class='row portfolio-boxes' id='portfolio-container'>
<% @membership.in_groups_of(4, false).each do |membership_array| %>
  <% membership_array.each do |membership| %>
  <div class='col-sm-3 portfolio-box portfolio-item'>
    <a href='#'>
      <div class='image-link'>
        <!-- <i class='fa-icon-search'></i> -->
                <% if membership.store.store_logo.nil? %>
                <%= image_tag("default_store_logo.png", :size => "273x186", :class => "mob-img-responsive img-rounded center-block") %>
                <% else %>
                <%= image_tag(membership.store.store_logo, :size => "273x186", :alt => membership.store.name, :class => "mob-img-responsive img-rounded center-block") %>
                <% end %>

      </div>
      <h3 class='title'><%= membership.store.name %></h3>
      <p class='category'>Accrued: <%= membership.rewards.sum(:accrued) - membership.rewards.sum(:redeemed) %></p>
      <p class='category'>Redeemed: <%= membership.rewards.sum(:redeemed) %></p>

    </a>
  </div>
  <% end %>
  <% end %>
</div>

      <%= will_paginate %>
  <% end %>
  </div>
</div>
